@page "/abonents/create"
@using Microsoft.EntityFrameworkCore
@using Laba10.Data
@inject IDbContextFactory<Laba10.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Создать</PageTitle>

<h1>Создать</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Abonent" OnValidSubmit="AddAbonent" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="familiya" class="form-label">Фамилия:</label> 
                <InputText id="familiya" @bind-Value="Abonent.Familiya" class="form-control" /> 
                <ValidationMessage For="() => Abonent.Familiya" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="imya" class="form-label">Имя:</label> 
                <InputText id="imya" @bind-Value="Abonent.Imya" class="form-control" /> 
                <ValidationMessage For="() => Abonent.Imya" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="otchestvo" class="form-label">Отчество:</label> 
                <InputText id="otchestvo" @bind-Value="Abonent.Otchestvo" class="form-control" /> 
                <ValidationMessage For="() => Abonent.Otchestvo" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="adres" class="form-label">Адрес:</label> 
                <InputText id="adres" @bind-Value="Abonent.Adres" class="form-control" /> 
                <ValidationMessage For="() => Abonent.Adres" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="telefon" class="form-label">Телефон:</label> 
                <InputText id="telefon" @bind-Value="Abonent.Telefon" class="form-control" /> 
                <ValidationMessage For="() => Abonent.Telefon" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Создать</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/abonents">Возврат к списку абонентов</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Abonent Abonent { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAbonent()
    {
        using var context = DbFactory.CreateDbContext();
        context.Abonents.Add(Abonent);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/abonents");
    }
}
